.image {
  max-width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
	text-decoration: none;	
	color: #6B7A8F;
}

.detail {
	background-color: #ffffff;
}

.detail :hover {
	background-color: #DCC7AA;
	text-decoration: none;
}

.article-metadata h2:hover {
	text-decoration: none;
}

.review {
	text-align: justify;
	width: 90%;
	margin-left: auto;
	margin-right:auto;
}
