{% extends "base.html" %}
{% block content %}
    {% for picture in pictures %}
        <article class="media content-section">
          <div class="media-body">
            <div style="position:relative;" class="article-metadata">
              <h2 style="display:inline;">{{ picture.title }}</h2>
              <small style="position: absolute; bottom:0; right:0" class="text-muted">{{ picture.content }}</small>
            </div>
            <div class = "media">
              <img class = "image" src="{{ picture.image.url}}" alt="{{ picture.title }}">  
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}