{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div style="position:relative;" class="article-metadata">
        <h2>{{ object.title }}</h2>
        <small style="position: absolute; bottom:0; right:0" class="text-muted"> By: {{ object.writer }}</small>
      </div>
      <img class = "image" src="{{ object.image.url}}" alt="{{ object.title }}">  
    </div>
  </article>
  {% if reviews %}
    {% for review in reviews %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata" >Review by: <a href="{% url 'profile-detail' review.reviewer.id %}"><strong>{{review.reviewer.user.username}}</strong></a> on {{review.date_posted}} with a rating of {{review.rating}}/8 </div>
        <div class="review">{{ review.review|safe }}</div> 
      </div>
    </article>
    {% endfor %}
  {% else %}
    <article class="media content-section">
      <div class="media-body">
        <div class="review">
          <div class="article-metadata" >Review by: noone on never with a rating of 8/8 </div>
          <div style="text-align:justify;"><p>Opps looks like there is no reviews right now =(. We are probably trying to finish this book.</p></div> 
        </div>
      </div>
    </article>
  {% endif %}
{% endblock content %}