{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% get_media_prefix as MEDIA_URL %}
  <article class="media content-section">
    <div class="media-body">
      <div style="position:relative;" class="article-metadata">
        <h2>{{ object.title }}</h2>
        <small style="position: absolute; bottom:0; right:0" class="text-muted"> By: {{ object.writer }}</small>
      </div>
      <img class = "image" src="{{ object.image.url}}" alt="{{ object.title }}">  
    </div>
  </article>
  {% if reviews %}
    {% for review in reviews %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata" style="position:relative;" >
          Review by: <a href="{% url 'profile-detail' review.reviewer.id %}"><strong>{{review.reviewer.user.username}}</strong></a> 
          <img style="position: absolute; right:0; width:30%;" src="{{ MEDIA_URL }}reviews/{{review.rating}}.png" alt="{{review.rating}}/8">
        </div>
        <div class="review">{{ review.review|safe }}</div> 
      </div>
    </article>
    {% endfor %}
  {% else %}
    <article class="media content-section">
      <div class="media-body">
          <div class="article-metadata" style="position:relative;">
            Review by: <strong>Noone</strong>
            <img style="position: absolute; right:0; width:30%;" src="{{ MEDIA_URL }}reviews/8.png" alt="8/8">
          </div>
          <div class="review" style="text-align:justify;">Looks like there is currently no reviews for this book. Allow me to get it started: The book is like this website, perfect but incomplete...</div> 
        </div>
      </div>
    </article>
  {% endif %}
{% endblock content %}