{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% get_media_prefix as MEDIA_URL %}
  <article class="media content-section">
    <div class="media-body">
  		<img src="{{ MEDIA_URL }}static/aaron_au.jpg" alt="Aaron Au" height="300" width="400"/>

  		<div class="text_bio">
    		<p> Welcome to the life of Aaron Au!  I am in the process of completing a Master’s of Chemical Engineering degree at the University of Toronto.  Under the direction of <a target="_blank" href="http://bigten.med.utoronto.ca/">Christopher Yip</a>, I study and improve upon techniques for imaging micro-sized organisms to intercellular interactions.  My role in the lab is to assemble microscopes given a set criteria, including budget.  The Yip Lab is a great place to nurture interdisciplinary technical skills.</p>   
			<p>Before UofT, I graduated from the University of Waterloo’s Nanotechnology Engineering program.  At Waterloo, I was a member of the varsity tennis team and the UW tennis club.  Other than an amateur tennis player, I am also an amateur photographer.  I usually take my camera with me whenever I leave the city.  When travelling gets too expensive, I read books to escape the torments of the real world.  I also read non-fiction, specifically scientific papers of any research field.  By gathering knowledge from different areas, I hope to bring disruptive technologies to other fields.</p> 
			<p>Check out some of my hobbies below:</p>
			<div class="row_buttons">
				<a class="button" href="{% url 'photo-home' %}" style="background-image:url({{ MEDIA_URL }}static/photography.jpg);"><p>Photography</p></a>
				<p class="spacer"></p>
				<a class="button" href="#" style="background-image:url({{ MEDIA_URL }}static/books.jpg);"><p>Books</p></a>
			</div>
			<div class="row_buttons">
				<a class="button" href="#" style="background-image:url({{ MEDIA_URL }}static/projects.jpg);"><p>Projects</p></a>
				<p class="spacer"></p>
				<a class="button" href="#" style="background-image:url({{ MEDIA_URL }}static/dream.jpg);"><p>Dream</p></a>
			</div>
		</div>
	</div>
  </article>
{% endblock content %}