{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% get_media_prefix as MEDIA_URL %}
  <article class="media content-section">
    <div class="media-body">
  		<img class= "frame" src="{{ MEDIA_URL }}static/aaron_au.jpg" alt="Aaron Au" height="300" width="400"/>

  		<div class="text_bio">
    		<p> Hey there, my name is Aaron Au and this is my website. On this website I showcase some of my skills as an amateur photographer. I usually take my camera with me whenever I leave the city. And when travelling gets too expensive, I read books to escape the torments of the real world. In addition, I have asked my friends (nicely) to contribute by adding reviews to their favourite books!</p> 
			<p>Check out some of my hobbies below:</p>
			<div class="row_buttons">
				<a class="button" href="{% url 'photo-home' %}" style="background-image:url({{ MEDIA_URL }}static/photography.jpg);"><p>Photography</p></a>
				<p class="spacer"></p>
				<a class="button" href="{% url 'book-home' %}" style="background-image:url({{ MEDIA_URL }}static/books.jpg);"><p>Books</p></a>
			</div>
			<div class="row_buttons">
				<a class="button" href="#" style="background-image:url({{ MEDIA_URL }}static/projects.jpg);"><p>Projects</p></a>
				<p class="spacer"></p>
				<a class="button" href="#" style="background-image:url({{ MEDIA_URL }}static/dream.jpg);"><p>Dream</p></a>
			</div>
		</div>
	</div>
  </article>
{% endblock content %}